@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900");

.poweby {
  padding-left: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  font-family: roboto, sans-serif;
  color: rgba(255, 255, 255, 0.815);
}

footer {
  position: fixed;
  padding: 0px;
  left: 0;
  bottom: 0;
}

footer a, span {
  text-decoration: none;
  color: #00DF73;
}
