<div class="container p-3">
    <h1>Main Debts</h1>
    <p>List of existing debts in my name</p>
    <div class="separate mt-2 mb-3"></div>
    <div class="row align-items-center">
      <div class="card" style="width: 16rem;">
        <div class="card-body mt-3">
          <h5 class="card-title mb-4">Banco do Brasil</h5>
          <h6 class="card-subtitle mb-2">Compra Cartão de Crédito</h6>
          <p class="card-text mb-4">Valor Atual</p>
          <h4>R$ 753,00</h4>
          <a href="#" class="card-link mt-3">View Details</a>
        </div>
      </div>
  
      <div class="card" style="width: 16rem;">
        <div class="card-body mt-3">
          <h5 class="card-title mb-4">Itaú</h5>
          <h6 class="card-subtitle mb-2">Uso Cheque Especial</h6>
          <p class="card-text mb-4">Valor Atual</p>
          <h4>R$ 1.280,54</h4>
          <a href="#" class="card-link mt-3">View Details</a>
        </div>
      </div>
  
      <div class="card" style="width: 16rem;">
        <div class="card-body mt-3">
          <h5 class="card-title mb-4">Mercado Pago</h5>
          <h6 class="card-subtitle mb-2">Cartão de Crédito</h6>
          <p class="card-text mb-4">Valor Atual</p>
          <h4>R$ 342,21</h4>
          <a href="#" class="card-link mt-3">View Details</a>
        </div>
      </div>
  
      <div class="card" style="width: 16rem;">
        <div class="card-body mt-3">
          <h5 class="card-title mb-4">Nubank</h5>
          <h6 class="card-subtitle mb-2">Fatura Cartão de Crédito</h6>
          <p class="card-text mb-4">Valor Atual</p>
          <h4>R$ 1.180,60</h4>
          <a href="#" class="card-link mt-3">View Details</a>
        </div>
      </div>
    </div>
  
    <div class="debs-banks mt-5 mb-5">
      <h2>Banks Debts</h2>
      <div class="separate mt-2 mb-3"></div>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">Bank Name</th>
            <th scope="col">Description Debt</th>
            <th scope="col">Initial Date</th>
            <th scope="col">Initial Value</th>
            <th scope="col">Current Value</th>
            <th scope="col">Priority</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Banco do Brasil</td>
            <td>Compra cartão de crédito</td>
            <td>April, 2016</td>
            <td>$ 1.000,00</td>
            <td>$ 753,00</td>
            <td>Low</td>
          </tr>
  
          <tr>
            <td>Caixa Econômica</td>
            <td>Empréstimo realizado em 2019</td>
            <td>Julho, 2019</td>
            <td>$ 1.000,00</td>
            <td>$ 2.200,00</td>
            <td>High</td>
          </tr>
  
          <tr>
            <td>Itaú</td>
            <td>Cartão de Crédito e Cheque Especial</td>
            <td>Agosto, 2022</td>
            <td>$ 1.000,00</td>
            <td>$ 1.280,54</td>
            <td>Average</td>
          </tr>
  
          <tr>
            <td>Mercado Pago</td>
            <td>Cartão de Crédito</td>
            <td>Março, 2023</td>
            <td>$ 109,12</td>
            <td>$ 342,21</td>
            <td>Low</td>
          </tr>
  
          <tr>
            <td>Nukank</td>
            <td>Fatura Cartão de Crédito</td>
            <td>Outubro, 2023</td>
            <td>$ 458,00</td>
            <td>$ 1.180,60</td>
            <td>Average</td>
          </tr>
  
        </tbody>
      </table>
  
    </div>
  
  
    <div class="debs-banks mt-5 mb-5">
      <h2>Name Restrictions</h2>
      <p>Serasa debt registration and other collection institutions</p>
      <div class="separate mt-2 mb-3"></div>
  
      <div class="row align-text-center">
        <div class="col-sm-3">
          <div class="balance-value">
            <span>Current Debit</span>
            <h1>$ 2.789,24</h1>
          </div>
        </div>
        <div class="col-sm-9 mt-3">
          <span class="title-restrictions">Existing Notes</span>
          <table class="restrictions-name">
            <thead>
              <tr>
                <th>Annotation Type</th>
                <th>Condiction</th>
                <th>Amount</th>
                <th>Aware</th>
                <th>Status</th>
              </tr>
            </thead>
  
            <tbody>
              <tr>
                <td>Registro de débitos</td>
                <td>Consta(m) Registro(s)</td>
                <td>2</td>
                <td>Sim</td>
                <td style="color: rgb(1, 192, 96); font-weight: 700;">Aberto</td>
              </tr>
            </tbody>
          </table>
  
          <span class="title-restrictions">Debt Register</span>
          <table class="restrictions-name">
            <thead>
              <tr>
                <th>Date</th>
                <th>Creditor</th>
                <th>Value</th>
                <th>Divide Origin </th>
                <th>Priority Nivel</th>
              </tr>
            </thead>
  
            <tbody>
              <tr>
                <td>16, june 2016</td>
                <td>Banco do Brasil S/A</td>
                <td>$ 2.067,95</td>
                <td>Cartão de Crédito</td>
                <td style="color: red; font-weight: 700;">High</td>
              </tr>
  
              <tr>
                <td>12, august 2015</td>
                <td>Ativos S.A</td>
                <td>$ 721,29</td>
                <td>Cartão Santander</td>
                <td>Average</td>
              </tr>
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  