.img-reference {
    width: 80px;
    height: auto;
    padding: 20px 10px 20px 10px;
  }
  
  .col-sm-11 {
    margin-top: -95px;
  }
  
  .title-board {
    padding: 40px 10px 0px 0px;
    font-family: montserrat, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.381);
    color: hsla(228, 4%, 22%, 0.663);
  }
  
  .monthly {
    font-family: montserrat, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: #00DF73;
  }
  
  .separate {
    margin: auto;
    margin-bottom: 40px;
    width: 45%;
    padding: 1.5px;
    background-color: rgb(0, 223, 115)
  }
  
  span {
    margin: auto;
    line-height: 25px;
    font-family: montserrat, sans-serif;
    color: hsla(228, 4%, 22%, 0.663);
  }
  