<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <div class="col-3 p-3 mb-2">
          <img class="img-reference" src="./assets/icon-calendar-green-v1.png" alt="">
        </div>
  
        <div class="col-sm-11">
          <span>Monthly Reference</span><br>
            <span class="monthly">{{ currentDate| date : 'MMMM d, y'}}</span>
        </div>
      </div>
  
      <div class="col-sm-8">
        <h3 class="title-board">{{titlePage}}</h3>
        <div class="separate">
        </div>
      </div>
    </div>
  </div>
  