<div class="container">
    <div class="plans-and-metas mb-5">
      <h1>Plans And Metas</h1>
      <p class="subtitle mt-3">Description of plans and goals established for the <b>year 2024</b></p>
      <div class="separate mt-3 mb-5"></div>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              1st Semester End Of July
            </mat-panel-title>
            <mat-panel-description>
              Plans and objectives established for the first half of 2024
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table class="table-plans-and-metas">
            <thead>
              <th>Objective</th>
              <th style="text-align: center;">Priority Level</th>
              <th style="text-align: center;">Difficulty Level</th>
              <th style="text-align: center;">Status</th>
            </thead>
  
            <tbody>
              <tr>
                <td>Comprar o PC Gamer para o Marcus Vinícius</td>
                <td style="text-align: center; color: red; font-weight: 600;">High</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center; color: #01994fe0;">Running</td>
              </tr>
  
              <tr>
                <td>Fazer mais algumas tatuagens</td>
                <td style="text-align: center;">Average</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center; color: #01994fe0;">Running</td>
              </tr>
  
              <tr>
                <td>Quitar todas as minhas dívidas</td>
                <td style="text-align: center; color: red; font-weight: 600;">High</td>
                <td style="text-align: center;">5</td>
                <td style="text-align: center;">Pending</td>
              </tr>
  
              <tr>
                <td>Tirar minha habilitação (CNH)</td>
                <td style="text-align: center; color: red; font-weight: 600;">High</td>
                <td style="text-align: center;">4</td>
                <td style="text-align: center; color: #01994fe0;">Running</td>
              </tr>
  
              <tr>
                <td>Reorganizar minhas finanças</td>
                <td style="text-align: center;">Average</td>
                <td style="text-align: center;">5</td>
                <td style="text-align: center; color: gray;">Pending</td>
              </tr>
  
              <tr>
                <td>Tirar certificação HCIP Huawei e Associate AWS</td>
                <td style="text-align: center;">Average</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center; color: gray;">Pending</td>
              </tr>
  
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
  
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              2st Semester End Of December
            </mat-panel-title>
            <mat-panel-description>
              Plans and goals established for the 2st half of 2024
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table class="table-plans-and-metas">
            <thead>
              <th>Objective</th>
              <th style="text-align: center;">Priority Level</th>
              <th style="text-align: center;">Difficulty Level</th>
              <th style="text-align: center;">Status</th>
            </thead>
  
            <tbody>
  
              <tr>
                <td>Comprar o PC Gamer para o Marcus Vinícius</td>
                <td style="text-align: center; color: red; font-weight: 600;">High</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center; color: #01994fe0;">Running</td>
              </tr>
  
              <tr>
                <td>Fazer mais algumas tatuagens</td>
                <td style="text-align: center;">Average</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center; color: #01994fe0;">Running</td>
              </tr>
  
              <tr>
                <td>Quitar todas as minhas dívidas</td>
                <td style="text-align: center; color: red; font-weight: 600;">High</td>
                <td style="text-align: center;">5</td>
                <td style="text-align: center; color: gray;">Pending</td>
              </tr>
  
              <tr>
                <td>Tirar minha habilitação (CNH)</td>
                <td style="text-align: center; color: red; font-weight: 600;">High</td>
                <td style="text-align: center;">4</td>
                <td style="text-align: center; color: #01994fe0;">Running</td>
              </tr>
  
              <tr>
                <td>Reorganizar minhas finanças</td>
                <td style="text-align: center;">Average</td>
                <td style="text-align: center;">5</td>
                <td style="text-align: center; color: gray;">Pending</td>
              </tr>
  
              <tr>
                <td>Tirar certificação HCIP Huawei e Associate AWS</td>
                <td style="text-align: center;">Average</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center; color: gray;">Pending</td>
              </tr>
  
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
  
    </div>
  
    <div class="container text-center p-3">
      <div class="cards-view">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <mat-card>
              <mat-icon>pie_chart</mat-icon>
              <span>Total Plans</span>
              <mat-card-content>8</mat-card-content>
            </mat-card>
          </div>
  
          <div class="col-sm-3">
            <mat-card>
              <mat-icon>check_circle</mat-icon>
              <span>Running</span>
              <mat-card-content>4</mat-card-content>
            </mat-card>
          </div>
  
          <div class="col-sm-3">
            <mat-card class="mat-balance">
              <mat-icon>thumb_up</mat-icon>
              <span>Finished</span>
              <mat-card-content class="mat-title">3</mat-card-content>
            </mat-card>
          </div>
  
          <div class="col-sm-3">
            <mat-card class="mat-balance">
              <mat-icon style="color: rgb(151, 149, 149);">error</mat-icon>
              <span class="aborted" style="color: rgb(151, 149, 149);">Aborted</span>
              <mat-card-content class="mat-title" style="color: rgb(151, 149, 149);">1</mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  