.graphic-dates mat-card{
  margin: auto;
  padding-top: 10px;
  font-family: Work Sans, sans-serif;
}

.graphic-dates canvas{
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.164);
  background-color: rgb(255, 255, 255);
}
